body{
	font-size: 12px; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
}

.ficheTable{
	width: 100%;
	margin-top: 10px;
	border: 1px solid #efefef;
}

.ficheTitle{
	font-weight: bold;
	color: #006699;
	background-color: #F0F6F9;
}

.ficheSubtitle{
	margin-top: 5px;
	color: #444444;
	font-weight: bold;
}

.ficheText{
	margin-top: 1px;
	/*margin-bottom: 1px;*/
	margin-bottom: 30px;
	color: #000000;
	text-decoration:none;
}

.editForm{
	font-size: 12px; 
	width:100%;
	margin-top: 5px;
	margin-bottom: 5px;
}


.resultEntry{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	color: #000000;
	text-align:justify;
}

.browsingButton{
	padding: 5px;
	width: 33%;
	background-color: #ffffff;
	border: solid 3px #ffffff;
}

.browsingButton:hover{
	background-color: #f2f2f2;
}

.browsingButtonSelected{
	padding: 5px;
	border-top: dotted 3px #e4e6e6;
	border-left: dotted 3px #e4e6e6;
	border-right: dotted 3px #e4e6e6;
}

.searchFrame{
	margin :0px 0px 0px 0px;
	border-bottom: dotted 3px #e4e6e6;
	border-left: dotted 3px #e4e6e6;
}

.searchByLabel{
	padding-top: 30px;
	font-weight: bold;
}

.searchBySecondLevelLabel{
	padding-top: 10px;
}

.hiddenLink{
	padding: 10px 5px 10px 25px;
	text-decoration:none;
}

.searchBox{
	width: 300px;
}

.searchBoxImage{
	width: 80px;
	height:72px;
	float:left;
}

.searchButton{
	margin-left: 20px;
	width: 60px;
}


#bandeau {
	position:relative;
	background-image: url(http://unifr.ch/images/crpr/unifr.png);
	background-repeat: no-repeat;
	margin-left: 200px;
	padding: 0px;
	height: 60px; }
	
	
.form{ 
	color: Black; 
	/*font-size: 12px; */
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	text-decoration: none; 
	background-color: #f5f5f5; 
	padding: 2px; 
	border: outset 1px #8d8d8d;
}

select:focus {
    width: auto;
    position: relative;
}

.disabledForm{
	/*font-size: 12px; */
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	text-decoration: none; 
	padding: 2px; 
	border: outset 1px #ffffff ;
}

.separator{
	color: Black; 
	padding: 5px; 
	/*font-size: 12px; */
	text-decoration: none; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; 
	/*border-bottom: solid 1px black;*/
}

.searchMenu{
	background-color:#ebebeb;
	padding: 2px 2px 2px 2px;
	border: outset 1px #ffffff ;
}

.searchMenu:hover{
	background-color:#ebebff;
}

.buttonImage{
	opacity: 1;

}

.buttonImage:hover{
	opacity: .5;
	zoom:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	cursor: pointer;
}


/*a.active:active {color: red; } */

/*#box001_content a.active{
font-weight:normal;
}*/


#content {
    line-height: 1.3em;
    margin-left: 200px;
    padding: 10px;
    position: relative;
    
	min-height: 300px;
}

#footer {
    float: right;
    /*width: 598px;*/
    width: 601px;
    height: 50px;
    background-image: url(../images/fond_bas.jpg);
    text-align: right;
    margin-right: -1px;
}

/*
#footer {
	text-align: center;
}
*/

/* PATCH bandeau (nouveau logo) */
/* CSS Document */

/*-- Bandeau et texte pour l'identité ----------------*/


#identity {
	margin 0;
	padding: 0;
	position:relative;
	clear:both;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF; }
	
#identity #address a {
  	text-decoration: none;
 	color: #565656;
}
#identity #address a:hover {
  	text-decoration: none;
		color: #000;
}
	
	
#bandeau {
	position:relative;
	background-image: none;
	background-color: #fff;
	/*margin-left: 0px;*/
	margin-left: -1px;
	padding: 0px;
	height: 77px; 
	z-index: 0;}
	
#address {
	background-color: #fff;
	float: right;
	text-align: right;
border: 0px;
	text-align: right;
	z-index: 100;
 }
	
#address .txt {
background-color: #fff;
position: absolute;
text-align: right;
bottom: 0px;
right: 0px;
padding-top: 34px;
padding-bottom: 16px;
padding-right: 12px;
/*	padding-left: 210px; */
vertical-align: bottom;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 14px;
text-transform: uppercase;
color: #565656;
	z-index: 100;
}

#navigBarre {
	margin-left: -1px;
	margin-right: -1px;
	/*background-color: #0091CC;*/
}

/*
#navigBarre, #nbRight a, #nbLeft a {
	background-color: #0091CC;	
}

 #nbRight a:hover, #nbLeft a:hover {
	background-color: #E4EDF2;
	color: #0091CC;	
}
*/

a.bluelink { color: #006699; }
